[package]
name = "settings"
version = "0.1.0"
edition = "2024"

[dependencies]
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_norway.workspace = true
utils.workspace = true
